
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flex-container {
  display: flex;
}

.flex-item {
  min-width: 100px;
}

.feather {
	width: 100px;
	height: 100px;
}

.feather.retweet, .feather.followers {
  color: darkblue;
}

.feather.heart {
  color: red;
  fill: currentColor;
}

